@font-face {
    font-family: 'Comfortaa';
    src: url("fonts/Comfortaa-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
}

.itformat__footer {
    display: flex;
    justify-content: space-between;
    background-image: url("img/background.svg");
    padding: 2% 8%;
    font-family: 'Comfortaa';
    font-size: 18px;
    line-height: 24px;

}

.block {
    display: flex;
    flex-direction: column;
}

.block a {
    color: #F6F6F6;
    text-decoration: none;
    font-family: inherit;
    align-items: center;

}

.contacts {
    color: #F6F6F6;
    margin: 0;
    justify-content: center;
    display: flex;
    flex-direction: column;
}