@font-face {
    font-family: 'Comfortaa';
    src: url("fonts/Comfortaa-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Disket';
    src: url("fonts/Disket-Mono-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    background-color: #0B0226;
}

:root {
    /* Основные цвета */
    --color-primary: #FF0D3D;
    --color-secondary: #1A1A1A;
    --color-background: #0D0D0D;
    --color-text: rgba(246, 246, 246, 1);

    /* Дополнительные цвета */
    --color-gray: #333333;
    --color-light-gray: #F6F6F6;
    font-family: Comfortaa, sans-serif;

    --max-width: 1600px;
}

a {
    text-decoration: none;
    color: var(--color-text);
}

a:hover {
    color: var(--color-primary);
}

.pre-line {
    white-space: pre-line;
}

.about-us__title, .questions__title, .command__title, .services__title, .technologies__title, .technologies__deadlines-title, .problems__title, .sites__title, .universal__title {
    font-family: 'Disket', sans-serif;
    font-size: 60px;
    line-height: 55px;
    text-transform: uppercase;
    color: var(--color-text);
    text-align: center;
    margin: 0 0 30px 0;
}

.border__red {
    background-color: rgba(56, 56, 56, 0.07);
    border: 1px solid var(--color-primary);
    border-radius: 30px;
}

.description__text {
    font-size: 20px;
    line-height: 20px;
    color: var(--color-text);
    margin: 0;
    font-family: inherit;
}

.bg__our-works {
    background-image: url('img/Group 268.svg'), url('img/Group 276 (4).svg');
    background-position: top center, bottom center; /* 1-я сверху, 2-я снизу */
    background-repeat: no-repeat;
    padding: 90px 0;
}

.our-works {
    margin: 0 160px;
}

.our-works__container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.our-works__container-internal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.our-works__item {
    backdrop-filter: blur(13px);
    border-radius: 30px;
    background: rgba(112, 110, 110, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: 790px;
    box-sizing: border-box;
}

.item__tags-container {
    display: flex;
    gap: 10px;
}

.item__tag {
    border: 1px solid var(--color-text);
    border-radius: 30px;
    padding: 7px 30px;
    font-size: 16px;
    line-height: 16px;
}

.item-container {
    display: flex;
    gap: 50px;
    color: var(--color-text);
}

.item-container img {
    border-radius: 15px;
}

.item__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
}

.item__title {
    font-size: 30px;
    line-height: 30px;
    margin: 0;
}

.item__text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    padding-left: 20px;
}

.item__link {
    text-align: end;
}

.our-works__container-btn {
    display: flex;
    justify-content: center;
}

.our-works__btn {
    margin: 50px 0 80px 0;
}

.our-works__feedback {
    padding: 30px 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(30px)
}

.feedback__title {
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    margin: 0 0 10px 0;
    color: var(--color-text);
}

.feedback__description {
    font-size: 24px;
    line-height: 25px;
}

.our-works__feedback .discuss-task__form {
    display: flex;
    flex-direction: column;
}













.bg__sites {
    background-image: url("img/background-sites.png");
}

.sites {
    margin: 20px 160px 0 160px;
}

.sites__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.sites__title {
    margin: 0;
}

.sites__description p {
    font-size: 18px;
}

.sites__types {
    display: flex;
    justify-content: space-between;
}
.sites__type {
    width: 360px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 22px 0;
    backdrop-filter: blur(14px);
    position: relative;
    background: rgba(112, 110, 110, 0.1);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
}

.sites__type::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 30px;
    padding: 1px;
    background: linear-gradient(156.88deg, #960000 41.78%, #F6F6F6 49.68%, #960000 62.68%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
}

.sites__type-icon {
    margin-bottom: 30px;
}

.type__title {
    font-size: 24px;
    margin-bottom: 20px;
}

.type__description {
    text-align: center;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 30px;
}

.type__cost {
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 10px;
}

.type__order {
    width: 253px;
    height: 40px;
    border-radius: 50px;
    border: none;
    background-color: #960000;
    cursor: pointer;
    font-family: inherit;
    margin-bottom: 10px;
    font-size: 16px;
}

.type__examples {
    width: 253px;
    height: 40px;
    position: relative;
    background: transparent;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    color: var(--color-text);
    font-family: inherit;
    font-size: 16px;
}

.type__examples::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50px;
    padding: 2px; /* Толщина границы */
    background: linear-gradient(90deg, rgba(150, 0, 0, 1), rgba(246, 246, 246, 1), rgba(0, 0, 147, 1));
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
}

.sites__cost {
    display: flex;
    justify-content: center;
}

.sites__cost-btn, .our-works__btn {
    width: 517px;
    height: 80px;
    border-radius: 50px;
    border: none;
    background-color: #960000;
    cursor: pointer;
    font-family: inherit;
    margin: 50px 0;
}



.bg__problems {
    background-image: url("img/background-problems.png");
}

.problems {
    padding-top: 100px;
}

.problems__description {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
}

.problems__container {
    display: flex;
    margin: 30px 439px;
    flex-direction: row;
    justify-content: space-between;
}

.problems__container-left, .problems__container-right {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.problem {
    display: flex;
    gap: 30px;
}

.contact-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(22px);
    margin: 0 160px 0 160px;
    padding: 30px 413px;
}

.contact-us__title {
    font-weight: 500;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.contact-us__description {
    font-size: 24px;
    text-align: center;
    line-height: 25px;
    margin-bottom: 30px;
}

.contact-us__btn {
    font-size: 30px;
}














.bg__technologies {
    background-image: url("img/background-technologies.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.technologies {
    padding: 100px 0 170px 0;
}

.technologies__logos {
    display: flex;
    align-items: center;
    margin: 5px 265px;
    justify-content: space-between;
}

.deadlines__blocks, .deadlines__text {
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-direction: row;
    margin: 0 305px 35px 305px;
}

.deadlines__blocks {
    margin-bottom: 0;
}

.deadlines {
    margin-top: 30px;
}

.deadlines__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.deadlines__block .block__days {
    font-size: 30px;
    line-height: 30px;
}

.deadlines__text {
    align-items: start;
}

.deadlines__text-block p {
    font-size: 16px;
    line-height: 16px;
}

.technologies__discuss-task {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    margin: 35px 160px 0 160px;
    padding: 30px 0;
}

.technologies__discuss-task.border__red{
    backdrop-filter: blur(30px)

}

.discuss-task__text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.discuss-task__question.description__text {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
}

.discuss-task__bid.description__text {
    font-size: 24px;
    line-height: 20px;
    text-align: center;
}

.discuss-task__form {
    display: flex;
    gap: 40px;
}

.input-wrapper {
    position: relative;
    display: flex;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
}

.form__input {
    width: 344px;
    height: 56px;
    padding: 0 20px;
    border: none;
    border-radius: 50px;
    position: relative;
    z-index: 1;
    text-align: center;
}

.input-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, #960000, #F6F6F6, #000093);
    border-radius: 50px;
    z-index: 0;
    -webkit-mask:
            linear-gradient(#fff, #fff) content-box,
            linear-gradient(#fff, #fff);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    padding: 1px;
}

.form__input::placeholder {
    color: var(--color-text);
}

.form__input:focus {
    outline: none;
}








.bg__services {
    background-image: url("img/background-services.svg");
}

.additional__services {
    margin: 0 160px;
}

.services__description {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.services__description .description__text{
    font-size: 18px;
}

.services__description .services__title{
    margin: 0;
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    gap: 20px;
}

.services__container1, .services__container2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.service {
    display: flex;
    align-items: center;
    position: relative;
}

.services__container1 .description__text {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 345px;
    height: 130px;
    z-index: 1;
}

.services__container2 .description__text {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 480px;
    height: 100px;
    z-index: 1;
}

.service__picture {
    width: 80px;
    height: 80px;
    position: relative;
    z-index: 2;
}

.service__picture img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.service .border__red {
    backdrop-filter: blur(22px);
}

.service__picture.border__red {
    border-radius: 100%;
    margin-right: -40px;
}

.services__order {
    display: flex;
    margin: 50px 100px 0 100px;
    justify-content: space-between;
    align-items: center;
}

.services__order .description__text {
    font-size: 30px;
    line-height: 30px;
}

.order__btn, .help-me__btn, .contact-us__btn{
    width: 400px;
    height: 70px;
    border-radius: 50px;
    border: none;
    background-color: #960000;
    cursor: pointer;
    font-family: inherit;
    margin: 0;
}

.bg__about-us {
    background-image: url("img/background-footer.svg");
    background-repeat: no-repeat;
    background-color: rgba(11, 2, 38, 1);
    padding: 160px 0;
}

.about-us {
    max-width: var(--max-width);
    margin: 0 auto;
}

.company__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
}

.command__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0 50px 0;
}

.command__description .command__title{
    margin: 0;
}

.command__text {
    display: flex;
    align-items: center;
    gap: 40px;
}

.command__info-about {
    color: var(--color-text);
    margin: 0;
}

.command__specialists {
    color: var(--color-text);
    margin: 0;
    display: flex;
    align-items: end;
}

.spec__num {
    color: #960000;
    margin: 0;
    font-weight: 500;
    font-size: 80px;
    line-height: 70px;
}

.spec__text {
    margin: 0;
}

.command__photos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: var(--max-width);
    margin: 0 auto;
    overflow: hidden;
}

.carousel {
    display: flex;
    gap: 30px;
    transition: transform 0.5s ease-in-out;
    max-width: 1490px;
}

.arrows {
    display: flex;
    flex-direction: column;
    gap:18px;
    cursor: pointer;
}

.arrow {
    background-color: var(--color-text);
    width: 35px;
    height: 5px;
    border-radius: 2px;
}

.left__line1 {
    transform: rotate(-45deg);
}
.left__line2 {
    transform: rotate(45deg);
}
.right__line1 {
    transform: rotate(45deg);
}
.right__line2 {
    transform: rotate(-45deg);
}

.photo__container {
    display: flex;
    height: 460px;
    width: 350px;
    flex-shrink: 0;
    border-radius: 20px;
    background-color: var(--color-light-gray);
    align-items: center;
    justify-content: center;
}

.not__active {
    display: none;
}

.bg__questions {
    background-image: url("img/background-footer.svg");
}

.questions {
    max-width: var(--max-width);
    margin: 0 auto;
}

.question__container {
    display: flex;
    flex-direction: column;
    min-width: 1600px;
    min-height: 555px;
    backdrop-filter: blur(22px);
}

.questions__container-title {
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    font-weight: 500;
    color: var(--color-text);
    max-width: 618px;
    margin: 30px auto;
}

.question {
    border-top: 1px solid;
    border-image: linear-gradient(90deg, rgba(246, 246, 246, 0) 0%, #F6F6F6 51.92%, rgba(246, 246, 246, 0) 100%) 1;
    padding: 10px 90px 10px 209px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    max-width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
}

.question:last-child {
    border-bottom: 1px solid;
    margin-bottom: 30px;
}

.question p {
    color: var(--color-text);
    font-size: 20px;
    margin: 0;
    flex-grow: 1;
}

.question span {
    background-color: #CE0F0F;
    width: 25px;
    height: 4px;
    margin-left: 10px;
    display: inline-block;
}

.question .line2 {
    transform: translateY(0) rotate(90deg);
    margin-left: -25px;
}

.footer {
    display: flex;
    justify-content: space-between;
    max-width: var(--max-width);
    font-family: 'Comfortaa', sans-serif;
    font-size: 18px;
    line-height: 24px;
    margin: 50px auto 0 auto;
}

.footer__links {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer__contacts {
    color: var(--color-text);
    margin: 0;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contacts-address, .contacts-phone, .contacts-email {
    margin: 0;
}