@font-face {
    font-family: 'Comfortaa';
    src: url("fonts/Comfortaa-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Disket';
    src: url("fonts/Disket-Mono-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
}

:root {
    /* Основные цвета */
    --color-primary: #FF0D3D;
    --color-secondary: #1A1A1A;
    --color-background: #0D0D0D;
    --color-text: rgba(246, 246, 246, 1);

    /* Дополнительные цвета */
    --color-gray: #333333;
    --color-light-gray: #F6F6F6;
    font-family: Comfortaa, sans-serif;

    --max-width: 1600px;
}

.pre-line {
    white-space: pre-line;
}

.title {
    font-family: 'Disket', sans-serif;
    font-size: 60px;
    line-height: 55px;
    text-transform: uppercase;
    color: var(--color-text);
    text-align: center;
    margin: 0 0 30px 0;
}

.border__red {
    background-color: rgba(56, 56, 56, 0.07);
    border: 1px solid var(--color-primary);
    border-radius: 30px;
}

.background__aboutus {
    background-image: url("img/background-footer.svg");
    background-repeat: no-repeat;
    background-color: rgba(11, 2, 38, 1);
    padding: 160px 0;
}

.about__us {
    max-width: var(--max-width);
    margin: 0 auto;
}

.company__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
}

.description__text {
    font-size: 20px;
    line-height: 20px;
    color: var(--color-text);
    margin: 0;
}

.command__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0 50px 0;
}

.command__description .title{
    margin: 0;
}

.command__text {
    display: flex;
    align-items: center;
    gap: 40px;
}

.our__command {
    color: var(--color-text);
    margin: 0;
}

.specialists {
    color: var(--color-text);
    margin: 0;
    display: flex;
    align-items: end;
}

.spec__num {
    color: #960000;
    margin: 0;
    font-weight: 500;
    font-size: 80px;
    line-height: 70px;
}

.spec__text {
    margin: 0;
}

.command__photos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: var(--max-width);
    margin: 0 auto;
    overflow: hidden;
}

.carousel {
    display: flex;
    gap: 30px;
    transition: transform 0.5s ease-in-out;
    max-width: 1490px;
}

.arrows {
    display: flex;
    flex-direction: column;
    gap:18px;
    cursor: pointer;
}

.arrow {
    background-color: var(--color-text);
    width: 35px;
    height: 5px;
    border-radius: 2px;
}

.left__line1 {
    transform: rotate(-45deg);
}
.left__line2 {
    transform: rotate(45deg);
}
.right__line1 {
    transform: rotate(45deg);
}
.right__line2 {
    transform: rotate(-45deg);
}

.photo__container {
    display: flex;
    height: 460px;
    width: 350px;
    flex-shrink: 0;
    border-radius: 20px;
    background-color: var(--color-light-gray);
    align-items: center;
    justify-content: center;
}

.not__active {
    display: none;
}






.background__last {
    background-image: url("img/background-footer.svg");
}

.ask__questions {
    max-width: var(--max-width);
    margin: 0 auto;
}

.question__item {
    display: flex;
    flex-direction: column;
    padding: 30px 196px;
    backdrop-filter: blur(21.700000762939453px)
}

.popular {
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    font-weight: 500;
    color: var(--color-text);
    max-width: 618px;
    margin: 30px auto;
}

.question {
    border-top: 1px solid;
    border-image: linear-gradient(90deg, rgba(246, 246, 246, 0) 0%, #F6F6F6 51.92%, rgba(246, 246, 246, 0) 100%) 1;
    padding: 10px 90px 10px 209px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.question__last {
    border-bottom: 1px solid;
}

.question p {
    color: var(--color-text);
    font-size: 20px;
    margin: 0;
    flex-grow: 1;
}

.question span {
    background-color: #CE0F0F;
    width: 25px;
    height: 4px;
    margin-left: 10px;
    display: inline-block;
}

.question .line2 {
    transform: translateY(0) rotate(90deg);
    margin-left: -25px;
}

.footer {
    display: flex;
    justify-content: space-between;
    max-width: var(--max-width);
    font-family: 'Comfortaa', sans-serif;
    font-size: 18px;
    line-height: 24px;
    margin: 50px auto 0 auto;
}

.block {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.block a {
    color: var(--color-text);
    text-decoration: none;
    font-family: inherit;
    align-items: center;

}

.contacts {
    color: var(--color-text);
    margin: 0;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
